.line-numbers p {
    counter-increment: lines;
    margin-left: 2em;
    position: relative;
}

.line-numbers p::before {
    content: counter(lines);
    display: inline-block;
    border-right: 1px solid #ddd;
    padding: 0 0.5em;
    margin-right: 0.5em;
    margin-left: -2.5em;
    width: 2em;
    color: #888;
    --webkit-user-select: none;
    position: absolute;
    display: block;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
